.technic-info {
  width: 320px;
  height: 320px;
  overflow: hidden;

  @media (min-width: 768px) and (max-width: 1119px) {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 1120px) and (max-width: 1439px) {
    width: 100%;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 100%;
    height: auto;
  }

  .check-checkbox-tech {
    display: none;

    &:checked ~ .technic-info__technic {
      @media (min-width: 768px) and (max-width: 1119px) {
        height: 550px;
      }

      @media (min-width: 1120px) and (max-width: 1439px) {
        height: 350px;
      }

      @media (min-width: 1440px) {
        height: 350px;
      }
    }

    &:checked ~ .check-button-tech::after {
      @media (min-width: 768px) and (max-width: 1119px) {
        content: url(../img/revexpand.svg) ' Скрыть';
      }
    }

    &:not(:checked) ~ .check-button-tech::after {
      @media (min-width: 768px) and (max-width: 1119px) {
        content: url(../img/expand.svg) ' Показать все';
      }
    }
    &:checked ~ .check-button-tech::after {
      @media (min-width: 1120px) and (max-width: 1439px) {
        content: url(../img/revexpand.svg) ' Скрыть';
      }
    }

    &:not(:checked) ~ .check-button-tech::after {
      @media (min-width: 1120px) and (max-width: 1439px) {
        content: url(../img/expand.svg) ' Показать все';
      }
    }

    &:checked ~ .check-button-tech::after {
      @media (min-width: 1440px) {
        content: url(../img/revexpand.svg) ' Скрыть';
      }
    }

    &:not(:checked) ~ .check-button-tech::after {
      @media (min-width: 1440px) {
        content: url(../img/expand.svg) ' Показать все';
      }
    }
  }

  .check-button-tech {
    @media (min-width: 768px) and (max-width: 1119px) {
      margin: 14px 610px 0 24px;
      color: #1b1c21;
      cursor: pointer;
    }

    @media (min-width: 1120px) and (max-width: 1439px) {
      margin: 14px 957px 0 31px;
      color: #1b1c21;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    @media (min-width: 1440px) {
      margin: 14px 930px 0 31px;
      color: #1b1c21;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &__technic {
    display: none;

    @media (min-width: 768px) and (max-width: 1119px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 24px;
      height: 180px;
      overflow: auto;
      transition: all 0.5s ease;
      overflow: hidden;
    }

    @media (min-width: 1120px) and (max-width: 1439px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 24px;
      height: 180px;
      transition: all 0.3s ease;
      overflow: hidden;
    }

    @media (min-width: 1440px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 24px;
      height: 180px;
      overflow: auto;
      transition: all 0.3s ease;
      overflow: hidden;
    }
  }

  &__title {
    width: 100%;
    height: 80px;
    font-family: 'TT Lakes Regular';
    color: #7e7e82;
    font-size: 16px;
    margin-left: 16px;

    @media (min-width: 768px) and (max-width: 1119px) {
      margin-left: 24px;
      margin-top: 48px;
      width: 768px;
      height: 56px;
      font-size: 16px;
    }

    &-title {
      font-size: 16px;
      font-weight: medium;

      @media (min-width: 768px) and (max-width: 1119px) {
        font-size: 16px;
        width: 316px;
        font-weight: medium;
      }

      @media (min-width: 1440px) {
        margin: 16px 406px 16px 24px;
      }
    }
  }

  &__button {
    @media (min-width: 768px) and (max-width: 1119px) {
      cursor: pointer;
      margin: 0 20px 24px 0;
      width: 226px;
      height: 160px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      position: relative;
    }

    @media (min-width: 1120px) and (max-width: 1439px) {
      cursor: pointer;
      margin: 0 20px 24px 0;
      width: 226px;
      height: 160px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      position: relative;
    }

    @media (min-width: 1440px) {
      cursor: pointer;
      margin: 0 20px 24px 0;
      width: 226px;
      height: 160px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      position: relative;
    }

    p {
      @media (min-width: 768px) and (max-width: 1119px) {
        margin: 0;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #1b1c21;
        position: absolute;
        left: 10px;
        top: 10px;
      }

      @media (min-width: 1120px) and (max-width: 1439px) {
        margin: 0;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #1b1c21;
        position: absolute;
        left: 10px;
        top: 10px;
      }

      @media (min-width: 1440px) {
        margin: 0;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #1b1c21;
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }

    img {
      @media (min-width: 768px) and (max-width: 1119px) {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      @media (min-width: 1120px) and (max-width: 1439px) {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }

      @media (min-width: 1440px) {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
  .slider-2 {
    width: 100%;
    height: 230px;

    @media (min-width: 768px) {
      display: none;
    }

    &__button {
      cursor: pointer;
      position: relative;
      margin-left: 20px;
      padding: 0;
      width: 240px;
      height: 160px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;

      p {
        margin: 0;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: #1b1c21;
        position: absolute;
        left: 10px;
        top: 10px;
      }

      img {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }

    .swiper-pagination-2 {
      position: relative;
      bottom: 40px;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      line-height: 12px;
      background-color: #b5b6bc;
    }
  }
}
